.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5em;
  border: 2px solid black;
  margin: 0;
  box-shadow: 0 0 10px grey;
  position: relative;
  background-color: #94B3B6;
  
}

.card:hover,
.card:focus{ 
transform: translateY(-0.25em);
}

.image {  
  object-fit: cover;  
  width: 90%;
  height: 60%;
  min-width: 200px;
  max-width: 340px;
  margin-top: 1vh;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
   color: black;
}

.card-title, 
.card-type {
  font-family: 'ABeeZee', sans-serif;
}

.card-title {
  font-size: 1.1em;
}

.card-type {
  font-size: .85em;
  position: absolute;
  bottom: 0;
  margin-bottom: 2px;
}