.carousel-container {
  padding: 20px;
  display: flex;
  overflow: scroll;
  gap: 20px;
  background-color: #BDB69C;
  object-fit: fill;
}


.featured-hikes {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  font-size: 3.5vw;
  font-family: 'Patrick Hand SC', cursive;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (min-width:300px) and (max-width:760px) {
 .featured-hikes{
  font-size: 6.5vw;
 } 
}

