.carousel-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  background-color: #BDB69C;
}

.featured-hikes {
  align-content: center;
}

